<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Login | Music Mixer</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        a{
            color: black !important;
            text-decoration: none;
        }
        body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/images/8875981.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    backdrop-filter: invert(1);
    background-position: center;
}
a:hover{
  box-shadow: 0px 0px 20px black !important
}
    </style>
</head>
<body>
    
    <div class="container-fluid mx-auto">
        <div style="display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;" class="container mx-auto text-center">
            <a target="_self" href="/login" style="display: flex;
            background-color: #f0f0f0;
            width: max(35%,240px);
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;" class="spotify shadow p-2 rounded-pill">
                <img src="/images/logo.png" class="m-1" alt="Spotify" style="width: 30%;">
                <span class="fs-2">Login with <span style="color: #1DB954;"><strong>Spotify</strong></span></span>
            </a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
